<div class="kalaha-board">
  <h2>Plansza Kalaha</h2>
  <div class="pits-row">
    <div class="store-container store-left">
      <kalaha-store [value]="player2Store"></kalaha-store>
    </div>
    <ng-container *ngFor="let pit of player2Pits; let i = index">
      <div class="cell">
        <kalaha-pit [value]="pit" (pitClick)="onPitClick(i + 6)"></kalaha-pit>
      </div>
    </ng-container>
  </div>
  <div class="pits-row">
    <div class="cell store-container store-right">
      <kalaha-store [value]="player1Store"></kalaha-store>
    </div>
    <ng-container *ngFor="let pit of player1Pits; let i = index">
      <div class="cell">
        <kalaha-pit [value]="pit" (pitClick)="onPitClick(i)"></kalaha-pit>
      </div>
    </ng-container>
  </div>
</div>
